@{
    ViewData["Title"] = "Yetkisiz alan";
}

<div class="div">
    <div class="col-12 text-danger text-center">
        <h1 class="h3">Yetkisiz alan</h1>
        <h4>Bu alana giriş yetkiniz bulunmuyor.</h4>
    </div>
</div>