@model ProductListModel

@{
    ViewData["Title"] = "Home Page";
}

@section Header 
{
    @* @await Html.PartialAsync("_slider") *@
}
@section Css 
{
    <link rel="stylesheet" href="~/css/card.css">
}

@await Component.InvokeAsync("Categories")


<div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 g-4">
    @foreach(var item in @Model.Products)
    {
        @await Html.PartialAsync("_product", item)
    }
</div>


