@{
    var css = @TempData["InfoMessageCss"];
}

<div class="alert alert-@css alert-dismissible fade show" role="alert">
    <h5 class="alert-heading">
        @TempData["InfoMessage"]
    </h5>
    <p>@TempData["InfoMessageDesc"]</p>
    <button id="btn_close" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
