@{
    var css = @TempData["Css"];
}

<div id="alertDiv" class="alert alert-@css alert-dismissible fade show" role="alert">
    <h5 class="alert-heading">
        @TempData["Message"]
    </h5>
    <p></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

@section Scripts
{
    <script>
        var alertDiv = document.getElementById("alertDiv")
    </script>
}