<form class="d-flex" role="search" action="/arama">
        <input name="q" class="form-control me-2" type="search" placeholder="Arama..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">ARA</button>
</form>