@{
    ViewData["Title"] = "Popüler ürünler";
}

@section Css 
{
    <link rel="stylesheet" href="~/css/card.css">
}

@model ProductListModel


<div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 g-4">
    @foreach(var item in @Model.Products!)
    {
        @await Html.PartialAsync("_product", item)
    }
</div>

<div class="row">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                @for (int i = 0; i < Model.PageInfo!.TotalPages(); i++)
                {
                    <li class="page-item @(Model.PageInfo.CurrentPage == i+1 ? "active" : "")">
                        <a class="page-link" href="/populer?sayfa=@(i+1)">
                            @(i+1)
                        </a>
                    </li>                    
                }

            </ul>
        </nav>
    </div>
</div>